In [246]:
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [219]:
train_df = pd.read_csv('data_to_predict.csv', header=None, index_col=False)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14815 entries, 0 to 14814
Data columns (total 9 columns):
0    14815 non-null object
1    14815 non-null object
2    14815 non-null int64
3    14815 non-null int64
4    14815 non-null int64
5    14815 non-null int64
6    14815 non-null int64
7    14815 non-null int64
8    14815 non-null int64
dtypes: int64(7), object(2)
memory usage: 1.0+ MB

In [220]:
# train_df.csv = shuffle(train_df)

In [221]:
train_df.columns = [str(x) for x in train_df.columns]

In [222]:
train_df.head()

        0    1  2  3  4  5  6  7  8
0  Aarons  CRY  8  0  2  0  0  1  1
1  Aarons  LIV  3  0  0  1  0  0  1
2  Aarons  MCI  1  0  0  0  0  0  1
3  Aarons  QPR  1  0  0  0  0  0  1
4   Abeid  AVL  3  0  0  1  0  0  1

In [223]:
name_conv = train_df['0'].drop_duplicates()

In [224]:
name_conv.head()

0       Aarons
4        Abeid
15        Adam
38    Adebayor
60      Adrián
Name: 0, dtype: object

In [225]:
int_name = {}
for _ in name_conv:
    int_name[_] = int.from_bytes(_.encode(), 'little')

In [226]:
int_name = {}
count = 0
for _ in name_conv:
    int_name[_] = count
    count += 1

In [187]:
#important for conversion
int_name

{'Aarons': 0,
 'Abeid': 1,
 'Adam': 2,
 'Adebayor': 3,
 'Adrián': 4,
 'Agbonlahor': 5,
 'Agger': 6,
 'Aguero': 7,
 'Agustien': 8,
 'Agüero': 9,
 'Ake': 10,
 'Akpan': 11,
 'Akpom': 12,
 'Aké': 13,
 'Al-Habsi': 14,
 'Albrighton': 15,
 'Alcaraz': 16,
 'Alderweireld': 17,
 'Allen': 18,
 'Alnwick': 19,
 'Alonso': 20,
 'Alou Diarra': 21,
 'Altidore': 22,
 'Aluko': 23,
 'Amalfitano': 24,
 'Amat': 25,
 'Ameobi': 26,
 'Amorebieta': 27,
 'Anderson': 28,
 'Anelka': 29,
 'Anichebe': 30,
 'Anita': 31,
 'Arfield': 32,
 'Armero': 33,
 'Armstrong': 34,
 'Arnautovic': 35,
 'Arshavin': 36,
 'Arteta': 37,
 'Aspas': 38,
 'Assaidi': 39,
 'Assou-Ekotto': 40,
 'Atsu': 41,
 'Austin': 42,
 'Ayoze': 43,
 'Azpilicueta': 44,
 'Ba': 45,
 'Bacuna': 46,
 'Baines': 47,
 'Baird': 48,
 'Baker': 49,
 'Bale': 50,
 'Balotelli': 51,
 'Bannan': 52,
 'Bardsley': 53,
 'Barkley': 54,
 'Barnes': 55,
 'Barnett': 56,
 'Barrow': 57,
 'Barry': 58,
 'Bartley': 59,
 'Barton': 60,
 'Bassong': 61,
 'Beausejour': 62,
 'Becchio': 63,
 'Begovic': 64,
 'Bellamy': 65,
 'Bellerín': 66,
 'Ben Arfa': 67,
 'Ben Haim': 68,
 'Benayoun': 69,
 'Bendtner': 70,
 'Bennett': 74,
 'Bennett E': 71,
 'Bennett J': 72,
 'Bennett R': 73,
 'Bent': 75,
 'Bentaleb': 76,
 'Benteke': 77,
 'Berahino': 78,
 'Berbatov': 79,
 'Berget': 80,
 'Bertrand': 81,
 'Besic': 82,
 'Bigirimana': 83,
 'Blackett': 84,
 'Blackman': 85,
 'Blanco': 86,
 'Blind': 87,
 'Boateng': 88,
 'Bojan': 89,
 'Bolasie': 90,
 'Bony': 91,
 'Borini': 92,
 'Borriello': 93,
 'Boruc': 94,
 'Boselli': 95,
 'Bosingwa': 96,
 'Bothroyd': 97,
 'Bowery': 98,
 'Boyata': 99,
 'Boyce': 100,
 'Boyd': 101,
 'Brady': 102,
 'Bramble': 103,
 'Bridcutt': 104,
 'Briggs': 105,
 'Britton': 106,
 'Brown': 107,
 'Browning': 108,
 'Bruce': 109,
 'Brunt': 110,
 'Buckley': 111,
 'Bunn': 112,
 'Burke': 113,
 'Burn': 114,
 'Butland': 115,
 'Buttner': 116,
 'Büttner': 117,
 'Caballero': 118,
 'Cabaye': 119,
 'Cabella': 120,
 'Cabral': 121,
 'Cahill': 122,
 'Cala': 123,
 'Caldwell': 124,
 'Cambiasso': 125,
 'Cameron': 126,
 'Camp': 127,
 'Campabadal': 128,
 'Campaña': 129,
 'Campbell': 132,
 'Campbell A': 130,
 'Campbell F': 131,
 'Can': 133,
 'Capoue': 134,
 'Carles Gil': 135,
 'Carragher': 136,
 'Carrick': 137,
 'Carroll': 139,
 'Carroll T': 138,
 'Cattermole': 140,
 'Caulker': 141,
 'Cazorla': 142,
 'Cech': 143,
 'Celustka': 144,
 'Cesar': 145,
 'Chadli': 146,
 'Chalobah': 147,
 'Chamakh': 148,
 'Chamberlain': 149,
 'Chambers': 150,
 'Chaplow': 151,
 'Chester': 152,
 'Chico': 153,
 'Chiriches': 154,
 'Christensen': 155,
 'Cisse': 157,
 'Cisse D': 156,
 'Cissokho': 158,
 'Cissé': 159,
 'Clark': 160,
 'Cleverley': 161,
 'Clichy': 162,
 'Clyne': 163,
 'Coady': 164,
 'Coates': 165,
 'Colback': 166,
 'Cole': 170,
 'Cole A': 167,
 'Cole C': 168,
 'Cole J': 169,
 'Coleman': 171,
 'Collins': 172,
 'Collison': 173,
 'Coloccini': 174,
 'Comley': 175,
 'Connolly': 176,
 'Coquelin': 177,
 'Cork': 178,
 'Cornelius': 179,
 'Costa': 180,
 'Courtois': 181,
 'Coutinho': 182,
 'Cowie': 183,
 'Cresswell': 184,
 'Crouch': 185,
 'Cuadrado': 186,
 'Cuellar': 187,
 'Cummings': 188,
 'Cuéllar': 189,
 'Daehli': 190,
 'Daniel Carrico': 191,
 'Daniels': 192,
 'Dann': 193,
 'David': 195,
 'David Luiz': 194,
 'Davidson': 196,
 'Davies': 197,
 'Davis': 199,
 'Davis K': 198,
 'Dawkins': 200,
 'Dawson': 202,
 'Dawson C': 201,
 'De Bruyne': 203,
 'De Gea': 204,
 'De Guzmán': 205,
 'De Jong': 206,
 'De Ridder': 207,
 'Debuchy': 208,
 'Defoe': 209,
 'Dejagah': 210,
 'Delaney': 211,
 'Delap': 212,
 'Delfouneso': 213,
 'Delph': 214,
 'Dembele': 215,
 'Dembélé': 216,
 'Demel': 217,
 'Demichelis': 218,
 'Dempsey': 219,
 'Derry': 220,
 'Deulofeu': 221,
 'Di María': 222,
 'Di Santo': 223,
 'Diaby': 224,
 'Diakite': 225,
 'Diakité': 226,
 'Diame': 227,
 'Diamé': 228,
 'Diarra': 230,
 'Diarra M': 229,
 'Dier': 231,
 'Dikgacoi': 232,
 'Dio': 233,
 'Diouf': 234,
 'Distin': 235,
 'Djuricic': 236,
 'Dobbie': 237,
 'Dorrans': 238,
 'Dossena': 239,
 'Doughty': 240,
 'Downing': 241,
 'Doyle': 242,
 'Drinkwater': 243,
 'Drogba': 244,
 'Duff': 245,
 'Duffy': 246,
 'Dummett': 247,
 'Dunne': 248,
 'Dyer': 250,
 'Dyer K': 249,
 'Dzeko': 251,
 'Edu': 252,
 'Eikrem': 253,
 'El Ahmadi': 254,
 'Elia': 255,
 'Elliot': 256,
 'Elliott Bennett': 257,
 'Elmander': 258,
 'Elmohamady': 259,
 'Emanuelson': 260,
 'Emnes': 261,
 'Enoh': 262,
 'Eriksen': 263,
 'Espinoza': 264,
 'Essien': 265,
 'Etherington': 266,
 "Eto'o": 267,
 'Evans': 269,
 'Evans J': 268,
 'Evra': 270,
 'Fabianksi': 271,
 'Fabianski': 272,
 'Fabio': 273,
 'Falcao': 274,
 'Falque': 275,
 'Faurlin': 276,
 'Faye': 277,
 'Fazio': 278,
 'Federici': 279,
 'Fellaini': 280,
 'Fer': 281,
 'Ferdinand': 283,
 'Ferdinand A': 282,
 'Ferguson': 284,
 'Fernandez Saez': 285,
 'Fernandinho': 286,
 'Fernando': 287,
 'Fernández': 288,
 'Ferreira': 289,
 'Figueroa': 290,
 'Filipe Luis': 291,
 'Flamini': 292,
 'Flanagan': 293,
 'Fletcher': 295,
 'Fletcher S': 294,
 'Fonte': 296,
 'Forster': 297,
 'Fortune': 298,
 'Foster': 299,
 'Fox': 301,
 'Fox D': 300,
 'Frei': 302,
 'Friedel': 303,
 'Fryatt': 304,
 'Fryers': 305,
 'Fulton': 306,
 'Furlong': 307,
 'Fyvie': 308,
 'Fàbregas': 309,
 'Gabbidon': 310,
 'Gabriel': 311,
 'Gallagher': 312,
 'Gallas': 313,
 'Galloway': 314,
 'Gamboa': 315,
 'Gape': 316,
 'Garbutt': 317,
 'Garcia': 318,
 'Gardner': 320,
 'Gardner G': 319,
 'Gardos': 321,
 'Garrido': 322,
 'Garvan': 323,
 'Gayle': 324,
 'Gazzaniga': 325,
 'Gedo': 326,
 'Gera': 327,
 'Gerrard': 328,
 'Gervinho': 329,
 'Gestede': 330,
 'Giaccherini': 331,
 'Gibbs': 332,
 'Gibson': 333,
 'Giggs': 334,
 'Giroud': 335,
 'Given': 336,
 'Gnabry': 337,
 'Golobart': 338,
 'Gomez J': 339,
 'Gomis': 340,
 'Gorkss': 341,
 'Gorre': 342,
 'Gosling': 343,
 'Gouffran': 344,
 'Graham': 345,
 'Granero': 346,
 'Grealish': 347,
 'Green': 348,
 'Grego-Cox': 349,
 'Grimes': 350,
 'Gueye': 351,
 'Guidetti': 352,
 'Guilherme': 353,
 'Guly': 354,
 'Gunnarsson': 355,
 'Gunter': 356,
 'Guthrie': 357,
 'Gutierrez': 358,
 'Gutiérrez': 359,
 'Guzan': 360,
 'Guédioura': 361,
 'Gómez': 362,
 'Haidara': 363,
 'Hall': 364,
 'Hamer': 365,
 'Hammond': 366,
 'Hangeland': 367,
 'Harper': 368,
 'Harriman': 369,
 'Hart': 370,
 'Harte': 371,
 'Hazard': 372,
 'Healey': 373,
 'Heaton': 374,
 'Heitinga': 375,
 'Helenius': 376,
 'Henderson': 377,
 'Hennessey': 378,
 'Henriquez': 379,
 'Henry': 380,
 'Hepburn-Murphy': 381,
 'Herd': 382,
 'Hernandez J': 383,
 'Hernandez P': 384,
 'Hernández': 385,
 'Herrera': 386,
 'Hesketh': 387,
 'Hibbert': 388,
 'Hill': 389,
 'Hitzlsperger': 390,
 'Hoilett': 391,
 'Holman': 392,
 'Holt': 393,
 'Holtby': 394,
 'Hooiveld': 395,
 'Hoolahan': 396,
 'Hooper': 397,
 'Howard': 398,
 'Howson': 399,
 'Huddlestone': 400,
 'Hudson': 401,
 'Hughes': 402,
 'Hunt': 403,
 'Huth': 404,
 'Hutton': 405,
 'Ibe': 406,
 'Ideye': 407,
 'Ince': 408,
 'Ings': 409,
 'Ireland': 410,
 'Isgrove': 411,
 'Isla': 412,
 'Ivanovic': 413,
 'Jaaskelainen': 414,
 'Jackson': 415,
 'Jagielka': 416,
 'Jakupovic': 417,
 'James': 418,
 'Janmaat': 419,
 'Januzaj': 420,
 'Jara': 421,
 'Jarvis': 422,
 'Javi García': 423,
 'Jedinak': 424,
 'Jelavic': 425,
 'Jenas': 426,
 'Jenkinson': 427,
 'Jerome': 429,
 'Jerome C': 428,
 'Ji Dong-Won': 430,
 'Joe Cole': 431,
 'John': 432,
 'Johnson': 436,
 'Johnson A': 433,
 'Johnson B': 434,
 'Johnson G': 435,
 'Jones': 441,
 'Jones B': 437,
 'Jones D': 438,
 'Jones K': 439,
 'Jones P': 440,
 'Jose Enrique': 442,
 'José Cañas': 443,
 'José Enrique': 444,
 'Jovetic': 445,
 'Jutkiewicz': 446,
 'Jääskeläinen': 447,
 'Kaboul': 448,
 'Kacaniklic': 449,
 'Kagawa': 450,
 'Kalas': 451,
 'Kamara': 452,
 'Kane': 453,
 'Karacan': 454,
 'Karagounis': 455,
 'Kasami': 456,
 'Keane': 457,
 'Kebe': 458,
 'Kelly': 461,
 'Kelly M': 459,
 'Kelly S': 460,
 'Kelvin Davis': 462,
 'Ki': 465,
 'Ki Sung-Yueng': 463,
 'Ki Sung-yueng': 464,
 'Kightly': 466,
 'Kilgallon': 467,
 'Kim Bo-Kyung': 468,
 'King': 469,
 'Knockaert': 470,
 'Knott': 471,
 'Kolarov': 472,
 'Kompany': 473,
 'Konchesky': 474,
 'Kone': 475,
 'Koné': 476,
 'Koren': 477,
 'Koscielny': 478,
 'Kouyaté': 479,
 'Kozák': 480,
 'Kpekawa': 481,
 'Kramaric': 482,
 'Kranjcar': 483,
 'Krul': 484,
 'Kvist': 485,
 'Källström': 486,
 'Kébé': 487,
 'Lafferty': 488,
 'Lallana': 489,
 'Lamah': 490,
 'Lambert': 491,
 'Lamela': 492,
 'Lampard': 493,
 'Larsson': 494,
 'Lawrence': 495,
 'Le Fondre': 496,
 'Ledley': 497,
 'Lee': 499,
 'Lee Chung-yong': 498,
 'Leigertwood': 500,
 'Lennon': 501,
 'Lescott': 502,
 'Lewis': 503,
 'Lichaj': 504,
 'Lindegaard': 505,
 'Lingard': 506,
 'Lita': 507,
 'Livermore': 508,
 'Lloris': 509,
 'Loftus-Cheek': 510,
 'Long': 511,
 'Lopez': 512,
 'Lovren': 513,
 'Lowton': 514,
 'Loza': 515,
 'Lucas': 516,
 'Lugano': 517,
 'Luis Alberto': 518,
 'Luiz': 519,
 'Lukaku': 520,
 'Luna': 521,
 'Mackie': 522,
 'Maguire': 523,
 'Mahrez': 524,
 'Maicon': 525,
 'Maiga': 526,
 'Maitland-Niles': 527,
 'Maloney': 528,
 'Mandron': 529,
 'Mangala': 530,
 'Mangane': 531,
 'Mannone': 532,
 'Manolev': 533,
 'Manquillo': 534,
 'Mané': 535,
 'Mariappa': 536,
 'Marin': 537,
 'Markovic': 538,
 'Marney': 539,
 'Marshall': 540,
 'Martin': 543,
 'Martin C': 541,
 'Martin R': 542,
 'Martinez': 544,
 'Marveaux': 545,
 'Mason': 546,
 'Mata': 547,
 'Matic': 548,
 'Mavrias': 549,
 'Maynard': 550,
 'Mayuka': 551,
 'Mbia': 552,
 'McAnuff': 553,
 'McArthur': 554,
 'McAuley': 555,
 'McCarthy': 557,
 'McCarthy A': 556,
 'McCartney': 558,
 'McClean': 559,
 'McCleary': 560,
 'McFadden': 561,
 'McGeady': 562,
 'McGregor': 563,
 'McLean': 564,
 'McManaman': 565,
 'McNair': 566,
 'McNaughton': 567,
 'McShane': 568,
 'Medel': 569,
 'Mee': 570,
 'Meireles': 571,
 'Mertesacker': 572,
 'Mesca': 573,
 'Meyler': 574,
 'Michu': 575,
 'Mignolet': 576,
 'Mikel': 577,
 'Milner': 578,
 'Miquel': 579,
 'Mirallas': 580,
 'Mitchell': 581,
 'Mitroglou': 582,
 'Miyaichi': 583,
 'Monk': 584,
 'Monreal': 585,
 'Montero': 586,
 'Moore': 587,
 'Moreno': 588,
 'Morgan': 589,
 'Morison': 590,
 'Morrison': 592,
 'Morrison S': 591,
 'Moses': 593,
 'Moxey': 594,
 'Mucha': 595,
 'Mulumbu': 596,
 'Muniesa': 597,
 'Murphy': 598,
 'Murray': 599,
 'Mutch': 600,
 'Myhill': 601,
 "N'Diaye": 602,
 "N'Doye": 603,
 "N'Zogbia": 604,
 "N'Zonzi": 605,
 'Naismith': 606,
 'Name': 607,
 'Nani': 608,
 'Nasri': 609,
 'Nastasic': 610,
 'Naughton': 611,
 'Navas': 612,
 'Ndiaye': 613,
 'Negredo': 614,
 'Nelsen': 615,
 'Nenê': 616,
 'Neville': 617,
 'Ngog': 618,
 'Noble': 619,
 'Nocerino': 620,
 'Nolan': 621,
 'Noone': 622,
 'Nugent': 623,
 'Nzonzi': 624,
 'Nélson Oliveira': 625,
 "O'Brien": 626,
 "O'Keefe": 627,
 "O'Neil": 628,
 "O'Shea": 629,
 'Obertan': 630,
 'Odemwingie': 631,
 'Okore': 632,
 'Olsson': 633,
 'Onuoha': 634,
 'Oscar': 635,
 'Osman': 636,
 'Ospina': 637,
 'Osvaldo': 638,
 'Oviedo': 639,
 'Owen': 640,
 'Oxlade-Chamberlain': 641,
 'Palacios': 642,
 'Pantilimon': 643,
 'Park JS': 644,
 'Parker': 645,
 'Parr': 646,
 'Paulinho': 647,
 'Pearce': 648,
 'Pellè': 649,
 'Pennant': 650,
 'Perch': 651,
 'Pereira': 652,
 'Petric': 653,
 'Phillips': 654,
 'Piazon': 655,
 'Pienaar': 656,
 'Pieters': 657,
 'Pilkington': 658,
 'Pocognoli': 659,
 'Podolski': 660,
 'Pogrebnyak': 661,
 'Popov': 662,
 'Potts': 663,
 'Powell': 664,
 'Poyet': 665,
 'Pozo': 666,
 'Pritchard': 667,
 'Proschwitz': 668,
 'Puncheon': 669,
 'Quinn': 670,
 'Rafael': 671,
 'Ramires': 672,
 'Ramirez G': 673,
 'Ramis': 674,
 'Ramsey': 675,
 'Ramírez': 676,
 'Rangel': 677,
 'Ranger': 678,
 'Rat': 679,
 'Razak': 680,
 'Redmond': 681,
 'Reed': 682,
 'Reeves': 683,
 'Reid': 685,
 'Reid S': 684,
 'Reina': 686,
 'Rekik': 687,
 'Remy': 688,
 'Richards': 690,
 'Richards M': 689,
 'Richardson': 692,
 'Richardson F': 691,
 'Ridgewell': 693,
 'Riether': 694,
 'Riise': 695,
 'Rivière': 696,
 'Roberge': 697,
 'Roberts': 698,
 'Robertson': 699,
 'Robinson': 700,
 'Robles': 701,
 'Robson-Kanu': 702,
 'Rodallega': 703,
 'Rodriguez': 704,
 'Rodwell': 705,
 'Rojo': 706,
 'Romeu': 707,
 'Rooney': 708,
 'Rose': 709,
 'Rosenberg': 710,
 'Rosenior': 711,
 'Rosicky': 712,
 'Routledge': 713,
 'Ruddy': 714,
 'Ruiz': 715,
 'Ryan Bennett': 716,
 'Ryan Taylor': 717,
 'Réveillere': 718,
 'Sagbo': 719,
 'Sagna': 720,
 'Saha': 721,
 'Sahin': 722,
 'Sakho': 723,
 'Salah': 724,
 'Samaras': 725,
 'Samba': 726,
 'Sammy Ameobi': 727,
 'Samuel': 728,
 'Sandro': 729,
 'Sanogo': 730,
 'Santi Cazorla': 731,
 'Santon': 732,
 'Santos': 733,
 'Scharner': 734,
 'Schlupp': 735,
 'Schmeichel': 736,
 'Schneiderlin': 737,
 'Scholes': 738,
 'Schwarzer': 739,
 'Schürrle': 740,
 'Scocco': 741,
 'Seager': 742,
 'Senderos': 743,
 'Sessegnon': 744,
 'Shackell': 745,
 'Sharp': 746,
 'Shaw': 747,
 'Shawcross': 748,
 'Shea': 749,
 'Shechter': 750,
 'Shelvey': 751,
 'Shenton': 752,
 'Shola Ameobi': 753,
 'Shorey': 754,
 'Shotton': 755,
 'Sidwell': 756,
 'Sigurdsson': 757,
 'Silva': 758,
 'Simpson': 759,
 'Sinclair': 760,
 'Sissoko': 761,
 'Skrtel': 762,
 'Smalling': 763,
 'Smith': 765,
 'Smith A': 764,
 'Snodgrass': 766,
 'Soldado': 767,
 'Song': 768,
 'Sordell': 769,
 'Souaré': 770,
 'Spence': 771,
 'Speroni': 772,
 'Stam': 773,
 'Stambouli': 774,
 'Steer': 775,
 'Stekelenburg': 776,
 'Sterling': 777,
 'Steven Davis': 778,
 'Steven Taylor': 779,
 'Stevens': 780,
 'Stockdale': 781,
 'Stones': 782,
 'Sturridge': 783,
 'Suarez': 784,
 'Surman': 785,
 'Suárez': 786,
 'Swift': 787,
 'Sylla': 788,
 'Szczesny': 789,
 'Sánchez': 790,
 'Sørensen': 791,
 'Taarabt': 792,
 'Tabb': 793,
 'Tadic': 794,
 'Tamas': 795,
 'Tankovic': 796,
 'Targett': 797,
 'Tate': 798,
 'Tavernier': 799,
 'Taylor': 806,
 'Taylor (Stuart)': 800,
 'Taylor M': 801,
 'Taylor N': 802,
 'Taylor R': 803,
 'Taylor S': 804,
 'Taylor-Fletcher': 805,
 'Teixeira': 807,
 'Terry': 808,
 'Tettey': 809,
 'Tevez': 810,
 'Thievy': 811,
 'Thomas': 812,
 'Thorne': 813,
 'Thorpe': 814,
 'Théophile': 815,
 'Tiendalli': 816,
 'Tiote': 817,
 'Tioté': 818,
 'Tomkins': 819,
 'Tonev': 820,
 'Torres': 821,
 'Toure K': 822,
 'Touré': 823,
 'Townsend': 824,
 'Traore': 825,
 'Traoré': 826,
 'Tremmel': 827,
 'Trippier': 828,
 'Tunnicliffe': 829,
 'Turnbull': 830,
 'Turner': 831,
 'Ulloa': 832,
 'Ulvestad': 833,
 'Upson': 834,
 'Valdés': 835,
 'Valencia': 836,
 'Van Persie': 837,
 'Van der Vaart': 838,
 'Vardy': 839,
 'Varela': 840,
 'Vargas': 841,
 'Vaughan': 842,
 'Vaz Te': 843,
 'Veljkovic': 844,
 'Vellios': 845,
 'Vergini': 846,
 'Vermaelen': 847,
 'Vertonghen': 848,
 'Vidic': 849,
 'Vlaar': 850,
 'Vokes': 851,
 'Vorm': 852,
 'Vuckic': 853,
 'Vydra': 854,
 'Walcott': 855,
 'Walker': 856,
 'Wallace': 857,
 'Walters': 858,
 'Wanyama': 859,
 'Ward': 861,
 'Ward-Prowse': 860,
 'Wasilewski': 862,
 'Watson': 863,
 'Weimann': 864,
 'Welbeck': 865,
 'Westwood': 866,
 'Whelan': 867,
 'Whitehead': 868,
 'Whittaker': 869,
 'Whittingham': 870,
 'Wickham': 871,
 'Wilbraham': 872,
 'Wilkinson': 873,
 'Williams': 875,
 'Williams D': 874,
 'Williamson': 876,
 'Willian': 877,
 'Wilshere': 878,
 'Wilson': 879,
 'Wisdom': 880,
 'Wollscheid': 881,
 'Wood': 882,
 'Woodrow': 883,
 'Wright-Phillips': 884,
 'Yacob': 885,
 'Yanga-Mbiwa': 886,
 'Yaya Toure': 887,
 'Yaya Touré': 888,
 'Yedlin': 889,
 'Yobo': 890,
 'Yoshida': 891,
 'Young': 892,
 'Yun': 893,
 'Zabaleta': 894,
 'Zaha': 895,
 'Zamora': 896,
 'Zouma': 897,
 'Zverotic': 898,
 'Zárate': 899,
 'de Gea': 900,
 'de Guzman': 901,
 'de Jong': 902,
 'de Laet': 903,
 'v. Wolfswinkel': 904,
 'van Aanholt': 905,
 'van Ginkel': 906,
 'van Persie': 907,
 'Álex Pozuelo': 908,
 'Álvarez': 909,
 'Álvaro': 910,
 'Özil': 911}

In [227]:
train_df = train_df.replace({'0': int_name})

In [230]:
# for _ in range(len(train_df)):
#     train_df["0"][_] = int_name[train_df["0"][_]]

In [229]:
train_df.head()

   0    1  2  3  4  5  6  7  8
0  0  CRY  8  0  2  0  0  1  1
1  0  LIV  3  0  0  1  0  0  1
2  0  MCI  1  0  0  0  0  0  1
3  0  QPR  1  0  0  0  0  0  1
4  1  AVL  3  0  0  1  0  0  1

In [231]:
opp_int = train_df['1']
opp = {}
count = 0
for _ in opp_int:
    opp[_] = count
    count +=1

In [232]:
opp

{'ARS': 14752,
 'AVL': 14793,
 'BUR': 14794,
 'CAR': 14795,
 'CHE': 14796,
 'CRY': 14797,
 'EVE': 14798,
 'FUL': 14799,
 'HUL': 14800,
 'LEI': 14801,
 'LIV': 14802,
 'MCI': 14803,
 'MUN': 14804,
 'NEW': 14805,
 'NOR': 14806,
 'QPR': 14807,
 'RDG': 14743,
 'SOU': 14808,
 'STK': 14809,
 'SUN': 14810,
 'SWA': 14811,
 'TOT': 14812,
 'WBA': 14813,
 'WHU': 14814,
 'WIG': 14751,
 'uf2': 3917}

In [233]:
train_df = train_df.replace({'1': opp})

In [234]:
train_df.head()

   0      1  2  3  4  5  6  7  8
0  0  14797  8  0  2  0  0  1  1
1  0  14802  3  0  0  1  0  0  1
2  0  14803  1  0  0  0  0  0  1
3  0  14807  1  0  0  0  0  0  1
4  1  14793  3  0  0  1  0  0  1

In [235]:
# opp_mapping = {}
# for count in range(len(opp)):
#     opp_mapping[opp[count]] = count

In [236]:
# opp_mapping

In [238]:
# Index(opp).get_loc('MCI')

In [239]:
# np.where(opp == 'MCI')

In [240]:
# import math
# train_df['0'] =  int.from_bytes(train_df['0'].encode(), 'little')

# def convertFromNumber (n):
# return n.to_bytes(math.ceil(n.bit_length() / 8), 'little').decode()

In [243]:
# int_name.to_bytes(math.ceil(int_name.bit_length() / 8), 'little').decode()
train_df = shuffle(train_df)
train_df.head()

         0      1   2  3  4  5  6  7  8
14571  896  14793  14  0  3  1  0  0  4
6365   394  14802   4  0  0  0  0  1  3
10906  671  14809   3  0  0  0  0  0  4
1114    62  14807  12  1  2  1  0  0  2
10898  671  14801   0  0  0  0  0  0  1

In [244]:
X = train_df.drop(['2'],axis=1)
y = train_df['2']

In [247]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [249]:
random_forest = RandomForestRegressor(n_estimators=100)
random_forest.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [250]:
Y_pred = random_forest.predict(X_test)
random_forest.score(X_test,y_test)

0.92237097211692887

In [258]:
print(random_forest.predict([[21,14797,7,2,0,0,1,1]]))

[ 19.35]