In [138]:
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [215]:
df_13 = pd.read_csv("2012-13.csv")
df_14 = pd.read_csv("2013-14.csv")
df_15 = pd.read_csv("2014-15.csv")

In [216]:
for col in df_14.columns:
    df_14[col] = df_14[col].fillna("0")
cols = list(df_14)
nunique = df_14.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
df_14 = df_14.drop(cols_to_drop, axis=1)

In [217]:
df_14.head()

,Name,MP,GS,A,CS,GC,OG,PS,PM,YC,...,B,ESP,BPS,TP,Team,Score,Opponent,H/A,GW,Pos
0,Adam,1,0,0,0,0,0,0,0,0,...,0,0,1,1,STK,0 - 0,HUL,Away,16.0,MID
1,Adam,6,0,0,0,0,0,0,0,0,...,0,1,1,1,STK,1 - 0,HUL,Home,32.0,MID
2,Adam,9,0,0,0,0,0,0,0,0,...,0,0,1,1,STK,02-Mar,MUN,Away,9.0,MID
3,Adam,10,1,0,0,0,0,0,0,0,...,1,21,8,7,STK,02-Jan,WBA,Away,38.0,MID
4,Adam,17,0,0,0,1,0,0,0,0,...,0,6,1,1,STK,03-Feb,CHE,Home,15.0,MID

In [218]:
df_13["H/A"] = df_13["O"].astype(str).str[4]
df_13["Opponent"] = df_13["O"].astype(str).str[0] + df_13["O"].astype(str).str[1] +df_13["O"].astype(str).str[2]

In [219]:
df_13.head()

,Name,R,O,MP,GS,A,CS,GC,OG,PS,...,YC,RC,S,B,ESP,NT,V,P,H/A,Opponent
0,Adam,1,WBA(A) 0-3,-,-,-,-,-,-,-,...,-,-,-,-,0,0,£7.0,-,A,WBA
1,Adam,2,MCI(H) 2-2,-,-,-,-,-,-,-,...,-,-,-,-,0,"-8,043",£6.9,-,H,MCI
2,Adam,3,WIG(A) 2-2,55,-,-,-,1,-,-,...,-,-,-,-,10,"-3,273",£6.8,1,A,WIG
3,Adam,4,MCI(H) 1-1,83,-,-,-,1,-,-,...,-,-,-,-,3,-985,£6.8,2,H,MCI
4,Adam,5,CHE(A) 0-1,63,-,-,1,-,-,-,...,1,-,-,-,-7,"-1,306",£6.8,2,A,CHE

In [220]:
for col in df_13.columns:
    df_13[col] = df_13[col].astype(str).str.replace(' -','0')

In [221]:
df_13 = df_13.rename(columns={'P': 'Points', 'B': 'Bonus'})

In [222]:
df_13["Cards"] = df_13["RC"].astype(int) + df_13["YC"].astype(int)
df_13["Goals and Assists"] = df_13["GS"].astype(int) + df_13["A"].astype(int)

In [224]:
df_13 = df_13.drop(["R","O","NT","V","PM","PS","RC","YC","GS","A","ESP"],axis=1)

In [225]:
# df_15["Name"].drop_duplicates()
df_13.head()

   Name  MP CS GC OG  S Bonus Points H/A Opponent  Cards  Goals and Assists
0  Adam   0  0  0  0  0     0      0   A      WBA      0                  0
1  Adam   0  0  0  0  0     0      0   H      MCI      0                  0
2  Adam  55  0  1  0  0     0      1   A      WIG      0                  0
3  Adam  83  0  1  0  0     0      2   H      MCI      0                  0
4  Adam  63  1  0  0  0     0      2   A      CHE      1                  0

In [226]:
cols = list(df_13)
nunique = df_13.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
df_13 = df_13.drop(cols_to_drop, axis=1)

In [227]:
player_info = df_15["Name"]
player_info_pos = df_15["Pos"]

In [228]:
player_info = pd.concat([player_info,player_info_pos],axis = 1)

In [229]:
player_info = player_info.drop_duplicates()

In [232]:
name = df_13["Name"]

In [230]:
df_13

,Name,MP,CS,GC,OG,S,Bonus,Points,H/A,Opponent,Cards,Goals and Assists
0,Adam,0,0,0,0,0,0,0,A,WBA,0,0
1,Adam,0,0,0,0,0,0,0,H,MCI,0,0
2,Adam,55,0,1,0,0,0,1,A,WIG,0,0
3,Adam,83,0,1,0,0,0,2,H,MCI,0,0
4,Adam,63,1,0,0,0,0,2,A,CHE,1,0
5,Adam,67,1,0,0,0,1,4,H,SWA,0,0
6,Adam,79,1,0,0,0,0,2,A,LIV,1,0
7,Adam,90,0,4,0,0,0,5,A,MUN,0,1
8,Adam,78,1,0,0,0,0,3,H,SUN,0,0
9,Adam,90,0,1,0,0,0,1,A,NOR,1,0
10,Adam,76,1,0,0,0,2,10,H,QPR,0,1
11,Adam,90,0,1,0,0,0,2,A,WHU,0,0
12,Adam,81,1,0,0,0,0,8,H,FUL,0,1
13,Adam,66,0,1,0,0,0,1,H,NEW,1,0
14,Adam,64,1,0,0,0,0,2,A,WBA,1,0
15,Adam,0,0,0,0,0,0,0,A,AVL,0,0
16,Adam,72,0,1,0,0,1,3,H,EVE,0,0
17,Adam,0,0,0,0,0,0,0,A,TOT,0,0
18,Adam,0,0,0,0,0,0,0,H,LIV,0,0
19,Adam,0,0,0,0,0,0,0,H,SOU,0,0
20,Adam,67,0,2,0,0,0,2,A,MCI,0,0
21,Adam,78,0,4,0,0,0,2,H,CHE,0,0
22,Adam,62,0,2,0,0,0,2,A,SWA,0,0
23,Adam,65,0,2,0,0,0,8,H,WIG,0,2
24,Adam,0,0,0,0,0,0,0,A,ARS,0,0
25,Adam,0,0,0,0,0,0,0,H,RDG,0,0
26,Adam,0,0,0,0,0,0,0,A,FUL,0,0
27,Adam,14,0,0,0,0,0,1,H,WHU,0,0
28,Adam,0,0,0,0,0,0,0,A,NEW,0,0
29,Adam,16,0,0,0,0,0,1,H,WBA,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
15719,Zamora,10,0,0,0,0,0,1,H,RDG,0,0
15720,Zamora,13,0,0,0,0,0,1,A,STK,0,0
15721,Zamora,0,0,0,0,0,0,0,H,SOU,0,0
15722,Zamora,0,0,0,0,0,0,0,A,MUN,0,0
15723,Zamora,0,0,0,0,0,0,0,A,SUN,0,0
15724,Zamora,0,0,0,0,0,0,0,H,AVL,0,0
15725,Zamora,0,0,0,0,0,0,0,A,WIG,0,0
15726,Zamora,0,0,0,0,0,0,0,H,FUL,0,0
15727,Zamora,0,0,0,0,0,0,0,A,NEW,0,0
15728,Zamora,0,0,0,0,0,0,0,H,WBA,0,0
15729,Zamora,0,0,0,0,0,0,0,H,LIV,0,0
15730,Zamora,0,0,0,0,0,0,0,A,CHE,0,0
15731,Zamora,0,0,0,0,0,0,0,H,TOT,0,0
15732,Zamora,0,0,0,0,0,0,0,A,WHU,0,0
15733,Zamora,1,0,0,0,0,0,1,H,MCI,0,0
15734,Zamora,37,0,0,0,0,0,1,H,NOR,0,0
15735,Zamora,45,0,2,0,0,0,5,A,SWA,0,1
15736,Zamora,60,0,1,0,0,0,2,H,MUN,0,0
15737,Zamora,0,0,0,0,0,0,0,A,SOU,0,0
15738,Zamora,72,0,1,0,0,0,2,H,SUN,0,0
15739,Zamora,45,0,1,0,0,0,4,A,AVL,0,1
15740,Zamora,90,0,3,0,0,0,5,A,FUL,0,1
15741,Zamora,20,0,1,0,0,0,-2,H,WIG,1,0
15742,Zamora,0,0,0,0,0,0,0,A,EVE,0,0
15743,Zamora,0,0,0,0,0,0,0,H,STK,0,0
15744,Zamora,0,0,0,0,0,0,0,A,RDG,0,0
15745,Zamora,90,0,1,0,0,0,2,H,ARS,0,0
15746,Zamora,90,0,2,0,0,0,2,H,NEW,0,0
15747,Zamora,71,0,1,0,0,0,2,A,LIV,0,0
15748,Zamora,"1,307",2,25,0,0,6,59,l,Tot,2,6

In [233]:
name = name.to_frame(name=None)

In [234]:
df_13_pos = df_13.merge(player_info,how='left', left_on='Name', right_on='Name').drop_duplicates()

In [235]:
# player_info = df_14["Name"]
# player_info_pos = df_14["Pos"]

In [236]:
df_13_pos

,Name,MP,CS,GC,OG,S,Bonus,Points,H/A,Opponent,Cards,Goals and Assists,Pos
0,Adam,0,0,0,0,0,0,0,A,WBA,0,0,MID
1,Adam,0,0,0,0,0,0,0,H,MCI,0,0,MID
2,Adam,55,0,1,0,0,0,1,A,WIG,0,0,MID
3,Adam,83,0,1,0,0,0,2,H,MCI,0,0,MID
4,Adam,63,1,0,0,0,0,2,A,CHE,1,0,MID
5,Adam,67,1,0,0,0,1,4,H,SWA,0,0,MID
6,Adam,79,1,0,0,0,0,2,A,LIV,1,0,MID
7,Adam,90,0,4,0,0,0,5,A,MUN,0,1,MID
8,Adam,78,1,0,0,0,0,3,H,SUN,0,0,MID
9,Adam,90,0,1,0,0,0,1,A,NOR,1,0,MID
10,Adam,76,1,0,0,0,2,10,H,QPR,0,1,MID
11,Adam,90,0,1,0,0,0,2,A,WHU,0,0,MID
12,Adam,81,1,0,0,0,0,8,H,FUL,0,1,MID
13,Adam,66,0,1,0,0,0,1,H,NEW,1,0,MID
14,Adam,64,1,0,0,0,0,2,A,WBA,1,0,MID
15,Adam,0,0,0,0,0,0,0,A,AVL,0,0,MID
16,Adam,72,0,1,0,0,1,3,H,EVE,0,0,MID
17,Adam,0,0,0,0,0,0,0,A,TOT,0,0,MID
18,Adam,0,0,0,0,0,0,0,H,LIV,0,0,MID
19,Adam,0,0,0,0,0,0,0,H,SOU,0,0,MID
20,Adam,67,0,2,0,0,0,2,A,MCI,0,0,MID
21,Adam,78,0,4,0,0,0,2,H,CHE,0,0,MID
22,Adam,62,0,2,0,0,0,2,A,SWA,0,0,MID
23,Adam,65,0,2,0,0,0,8,H,WIG,0,2,MID
24,Adam,0,0,0,0,0,0,0,A,ARS,0,0,MID
25,Adam,0,0,0,0,0,0,0,H,RDG,0,0,MID
26,Adam,0,0,0,0,0,0,0,A,FUL,0,0,MID
27,Adam,14,0,0,0,0,0,1,H,WHU,0,0,MID
28,Adam,0,0,0,0,0,0,0,A,NEW,0,0,MID
29,Adam,16,0,0,0,0,0,1,H,WBA,0,0,MID
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16160,Zamora,10,0,0,0,0,0,1,H,RDG,0,0,FWD
16161,Zamora,13,0,0,0,0,0,1,A,STK,0,0,FWD
16162,Zamora,0,0,0,0,0,0,0,H,SOU,0,0,FWD
16163,Zamora,0,0,0,0,0,0,0,A,MUN,0,0,FWD
16164,Zamora,0,0,0,0,0,0,0,A,SUN,0,0,FWD
16165,Zamora,0,0,0,0,0,0,0,H,AVL,0,0,FWD
16166,Zamora,0,0,0,0,0,0,0,A,WIG,0,0,FWD
16167,Zamora,0,0,0,0,0,0,0,H,FUL,0,0,FWD
16168,Zamora,0,0,0,0,0,0,0,A,NEW,0,0,FWD
16169,Zamora,0,0,0,0,0,0,0,H,WBA,0,0,FWD
16170,Zamora,0,0,0,0,0,0,0,H,LIV,0,0,FWD
16171,Zamora,0,0,0,0,0,0,0,A,CHE,0,0,FWD
16172,Zamora,0,0,0,0,0,0,0,H,TOT,0,0,FWD
16173,Zamora,0,0,0,0,0,0,0,A,WHU,0,0,FWD
16174,Zamora,1,0,0,0,0,0,1,H,MCI,0,0,FWD
16175,Zamora,37,0,0,0,0,0,1,H,NOR,0,0,FWD
16176,Zamora,45,0,2,0,0,0,5,A,SWA,0,1,FWD
16177,Zamora,60,0,1,0,0,0,2,H,MUN,0,0,FWD
16178,Zamora,0,0,0,0,0,0,0,A,SOU,0,0,FWD
16179,Zamora,72,0,1,0,0,0,2,H,SUN,0,0,FWD
16180,Zamora,45,0,1,0,0,0,4,A,AVL,0,1,FWD
16181,Zamora,90,0,3,0,0,0,5,A,FUL,0,1,FWD
16182,Zamora,20,0,1,0,0,0,-2,H,WIG,1,0,FWD
16183,Zamora,0,0,0,0,0,0,0,A,EVE,0,0,FWD
16184,Zamora,0,0,0,0,0,0,0,H,STK,0,0,FWD
16185,Zamora,0,0,0,0,0,0,0,A,RDG,0,0,FWD
16186,Zamora,90,0,1,0,0,0,2,H,ARS,0,0,FWD
16187,Zamora,90,0,2,0,0,0,2,H,NEW,0,0,FWD
16188,Zamora,71,0,1,0,0,0,2,A,LIV,0,0,FWD
16189,Zamora,"1,307",2,25,0,0,6,59,l,Tot,2,6,FWD

In [237]:
# player_info = pd.concat([player_info,player_info_pos],axis = 1)

In [238]:
# player_info =  player_info.drop_duplicates()

In [239]:
# player_info

In [240]:
# posnew = df_13.merge(player_info,how='left', left_on='Name', right_on='Name')

In [241]:
# posnew['Name'] = posnew['Name'].drop_duplicates(keep='first')

In [242]:
# posnew

In [243]:
# posnew.to_csv('posnew.csv', encoding = 'utf-8')

In [244]:
df_15.head()

,Name,MP,GS,A,CS,GC,OG,PS,PM,YC,...,GW,Pos,Difficulty rank,Difficulty desc,PID,Own%,Date,KO time,Season start price,Season end price
0,Aarons,17,0,0,0,1,0,0,0,0,...,1.0,MID,32,Very difficult,563,0.10%,17-08-2014,16:00,5.0,4.7
1,Aarons,24,1,1,0,1,0,0,0,1,...,3.0,MID,5,Favourable,563,0.20%,30-08-2014,15:00,5.0,4.7
2,Aarons,64,0,0,1,0,0,0,0,0,...,10.0,MID,30,Very difficult,563,0.10%,01-11-2014,12:45,5.0,4.7
3,Aarons,27,0,0,0,0,0,0,0,0,...,37.0,MID,3,Very favourable,563,0.10%,16-05-2015,15:00,5.0,4.7
4,Abeid,90,0,0,1,0,0,0,0,0,...,10.0,MID,30,Very difficult,304,0.10%,01-11-2014,12:45,4.5,4.3

In [245]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10428 entries, 0 to 10427
Data columns (total 30 columns):
Name                  10428 non-null object
MP                    10428 non-null int64
GS                    10428 non-null int64
A                     10428 non-null int64
CS                    10428 non-null int64
GC                    10428 non-null int64
OG                    10428 non-null int64
PS                    10428 non-null int64
PM                    10428 non-null int64
YC                    10428 non-null int64
RC                    10428 non-null int64
S                     10428 non-null int64
B                     10428 non-null int64
ESP                   10428 non-null int64
BPS                   10428 non-null int64
TP                    10428 non-null int64
Team                  10428 non-null object
Score                 10428 non-null object
Opponent              10428 non-null object
H/A                   10428 non-null object
GW                    10428 non-null float64
Pos                   10428 non-null object
Difficulty rank       10428 non-null int64
Difficulty desc       10428 non-null object
PID                   10428 non-null int64
Own%                  10427 non-null object
Date                  10428 non-null object
KO time               10428 non-null object
Season start price    10428 non-null float64
Season end price      10428 non-null float64
dtypes: float64(3), int64(17), object(10)
memory usage: 2.4+ MB

In [246]:
df_15["Cards"] = df_15["RC"].astype(int) + df_15["YC"].astype(int)
df_15["Goals and Assists"] = df_15["GS"].astype(int) + df_15["A"].astype(int)
df_15 = df_15.drop(["Difficulty rank","Difficulty desc","KO time","Date","Season start price","Season end price","ESP","RC","YC","GS","A","MP"],axis=1)

In [247]:
df_15.head()

,Name,CS,GC,OG,PS,PM,S,B,BPS,TP,Team,Score,Opponent,H/A,GW,Pos,PID,Own%,Cards,Goals and Assists
0,Aarons,0,1,0,0,0,0,0,1,1,NEW,0 - 2,MCI,Home,1.0,MID,563,0.10%,0,0
1,Aarons,0,1,0,0,0,0,0,22,8,NEW,03-Mar,CRY,Home,3.0,MID,563,0.20%,1,2
2,Aarons,1,0,0,0,0,0,0,3,3,NEW,1 - 0,LIV,Home,10.0,MID,563,0.10%,0,0
3,Aarons,0,0,0,0,0,0,0,2,1,NEW,01-Feb,QPR,Away,37.0,MID,563,0.10%,0,0
4,Abeid,1,0,0,0,0,0,0,6,3,NEW,1 - 0,LIV,Home,10.0,MID,304,0.10%,0,0

In [248]:
df_15 = df_15.drop(["GC","Score","Team","OG","PS","PM"],axis=1)

In [249]:
df_15["H/A"] = df_15["H/A"].astype(str).str[0]

In [260]:
df_15 =df_15.drop(["PID","Own%","GW","BPS"],axis=1)
cols = list(df_15)
nunique = df_15.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
df_15 = df_15.drop(cols_to_drop, axis=1)

In [258]:
df_15 = df_15.rename(columns={'TP': 'Points', 'B': 'Bonus'})

In [261]:
df_15.head()

     Name  CS  S  Bonus  Points Opponent H/A  Pos  Cards  Goals and Assists
0  Aarons   0  0      0       1      MCI   H  MID      0                  0
1  Aarons   0  0      0       8      CRY   H  MID      1                  2
2  Aarons   1  0      0       3      LIV   H  MID      0                  0
3  Aarons   0  0      0       1      QPR   A  MID      0                  0
4   Abeid   1  0      0       3      LIV   H  MID      0                  0

In [256]:
df_13_pos =df_13_pos.drop(["MP","OG","GC"],axis=1)

In [257]:
df_13_pos.head()

   Name CS  S Bonus Points H/A Opponent  Cards  Goals and Assists  Pos
0  Adam  0  0     0      0   A      WBA      0                  0  MID
1  Adam  0  0     0      0   H      MCI      0                  0  MID
2  Adam  0  0     0      1   A      WIG      0                  0  MID
3  Adam  0  0     0      2   H      MCI      0                  0  MID
4  Adam  1  0     0      2   A      CHE      1                  0  MID

In [265]:
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10454 entries, 0 to 10453
Data columns (total 24 columns):
Name                 10454 non-null object
MP                   10454 non-null int64
GS                   10454 non-null int64
A                    10454 non-null int64
CS                   10454 non-null int64
GC                   10454 non-null int64
OG                   10454 non-null int64
PS                   10454 non-null int64
PM                   10454 non-null int64
YC                   10454 non-null int64
RC                   10454 non-null int64
S                    10454 non-null int64
B                    10454 non-null int64
ESP                  10454 non-null int64
BPS                  10454 non-null int64
TP                   10454 non-null int64
Team                 10454 non-null object
Score                10454 non-null object
Opponent             10454 non-null object
H/A                  10454 non-null object
GW                   10454 non-null float64
Pos                  10454 non-null object
Cards                10454 non-null int32
Goals and Assists    10454 non-null int32
dtypes: float64(1), int32(2), int64(15), object(6)
memory usage: 1.8+ MB

In [264]:
df_14["Cards"] = df_14["RC"].astype(int) + df_14["YC"].astype(int)
df_14["Goals and Assists"] = df_14["GS"].astype(int) + df_14["A"].astype(int)

In [275]:
df_14 = df_14.drop(["ESP","RC","YC","GS","A","MP","OG","PS","PM","Score","Team","GW","BPS","GC"],axis=1)

In [271]:
df_15.head()

     Name  CS  S  Bonus  Points Opponent H/A  Pos  Cards  Goals and Assists
0  Aarons   0  0      0       1      MCI   H  MID      0                  0
1  Aarons   0  0      0       8      CRY   H  MID      1                  2
2  Aarons   1  0      0       3      LIV   H  MID      0                  0
3  Aarons   0  0      0       1      QPR   A  MID      0                  0
4   Abeid   1  0      0       3      LIV   H  MID      0                  0

In [279]:
df_14 = df_14.rename(columns={'TP': 'Points', 'B': 'Bonus'})

In [284]:
df_14["H/A"] = df_14["H/A"].astype(str).str[0]

In [285]:
df_14.head()

   Name  CS  S  Bonus  Points Opponent H/A  Pos  Cards  Goals and Assists
0  Adam   0  0      0       1      HUL   A  MID      0                  0
1  Adam   0  0      0       1      HUL   H  MID      0                  0
2  Adam   0  0      0       1      MUN   A  MID      0                  0
3  Adam   0  0      1       7      WBA   A  MID      0                  1
4  Adam   0  0      0       1      CHE   H  MID      0                  0

In [287]:
df_14.to_csv("final_2014.csv",encoding = "utf-8")
df_15.to_csv("final_2015.csv",encoding = "utf-8")

In [288]:
df_13_pos = df_13_pos[['Name', 'CS','S','Bonus','Points','Opponent','H/A','Pos','Cards','Goals and Assists']]

In [292]:
df_13_pos.to_csv("final_2013.csv",encoding = "utf-8")

In [297]:
# frames = [df_13_pos, df_14, df_15]
# result_df = pd.merge(frames)

In [298]:
result = df_13_pos.append(df_14)

In [301]:
result = result.append(df_15)
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37065 entries, 0 to 10427
Data columns (total 10 columns):
Name                 37065 non-null object
CS                   37065 non-null object
S                    37065 non-null object
Bonus                37065 non-null object
Points               37065 non-null object
Opponent             37065 non-null object
H/A                  37065 non-null object
Pos                  29484 non-null object
Cards                37065 non-null int32
Goals and Assists    37065 non-null int32
dtypes: int32(2), object(8)
memory usage: 2.8+ MB

In [302]:
result.head()

   Name CS  S Bonus Points Opponent H/A  Pos  Cards  Goals and Assists
0  Adam  0  0     0      0      WBA   A  MID      0                  0
1  Adam  0  0     0      0      MCI   H  MID      0                  0
2  Adam  0  0     0      1      WIG   A  MID      0                  0
3  Adam  0  0     0      2      MCI   H  MID      0                  0
4  Adam  1  0     0      2      CHE   A  MID      1                  0

In [303]:
result.to_csv('train.csv', encoding = 'utf-8')

In [304]:
r = result[result['H/A'] != 'l']

In [307]:
r.to_csv('train.csv', encoding= 'utf-8')
r.to_csv('train_ansi.csv', encoding= 'ANSI')