In [2]:
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
#get_ipython().magic('matplotlib inline')

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [4]:
df = pd.read_csv("fpl_data.csv")

df.head()

,|,|__Club,|__Position,|__Appearances,|__Clean Sheets,|__Goals,|__Wins,|__Losses,|__Goalkeeping,|__Saves,...,|__Duels Won,|__Duels Lost,|__Successful 0/0s,|__Successful 5/5s,|__Successful /s,|__Successful 50/50s,|__Aerial Battles Won,|__Aerial Battles Lost,|__Errors Leading To Goal,|__Own Goals
0,Rolando Aarons,Newcastle United,Midfielder,14,NaN,2,3,9,NaN,NaN,...,42,53,NaN,NaN,NaN,10.0,6.0,9.0,1.0,NaN
1,Tammy Abraham,Swansea City,Forward,7,NaN,1,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Charlie Adam,Stoke City,Midfielder,196,NaN,33,64,78,NaN,NaN,...,955,"1,012",NaN,NaN,NaN,156.0,216.0,148.0,3.0,NaN
3,Adrián,West Ham United,Goalkeeper,106,29.0,0,38,38,NaN,367.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,0.0
4,Ibrahim Afellay,Stoke City,Midfielder,43,NaN,2,17,16,NaN,NaN,...,137,134,NaN,NaN,50.0,NaN,15.0,20.0,0.0,NaN

In [5]:
for col in df.columns:
    df.rename(columns={col : col[3:]}, inplace=True)

In [6]:
df = df.drop(["Goalkeeping","Attack","Defence","Discipline","Team Play","Successful 0/0s","Successful /s","Successful 50/50s","Successful 5/5s"], axis = 1)

In [7]:
df = df.rename(columns={'': 'Names'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 55 columns):
Names                     626 non-null object
Club                      626 non-null object
Position                  626 non-null object
Appearances               627 non-null int64
Clean Sheets              272 non-null float64
Goals                     627 non-null int64
Wins                      627 non-null int64
Losses                    627 non-null int64
Saves                     67 non-null float64
Penalties Saved           67 non-null float64
Punches                   67 non-null float64
High Claims               67 non-null float64
Catches                   67 non-null float64
Sweeper Clearances        67 non-null float64
Throw Outs                67 non-null object
Goal Kicks                67 non-null object
Goals Per Match           355 non-null float64
Goals With Header         560 non-null float64
Goals With Right Foot     560 non-null float64
Goals With Left Foot      560 non-null float64
Penalties Scored          355 non-null float64
Goals From Freekick       355 non-null float64
Shots                     355 non-null object
Shots On Target           355 non-null float64
Shooting Accuracy %       355 non-null object
Hit Woodwork              560 non-null float64
Big Chances Missed        355 non-null float64
Assists                   627 non-null int64
Passes                    627 non-null object
Passes Per Match          627 non-null float64
Big Chances Created       560 non-null float64
Crosses                   560 non-null object
Cross Accuracy %          445 non-null object
Through Balls             445 non-null float64
Accurate Long Balls       512 non-null object
Yellow Cards              627 non-null int64
Red Cards                 627 non-null int64
Fouls                     627 non-null int64
Offsides                  560 non-null float64
Goals Conceded            272 non-null float64
Tackles                   560 non-null float64
Tackle Success %          445 non-null object
Last Man Tackles          205 non-null float64
Blocked Shots             560 non-null float64
Interceptions             560 non-null float64
Clearances                560 non-null object
Headed Clearance          560 non-null object
Clearances Off Line       205 non-null float64
Recoveries                445 non-null object
Duels Won                 445 non-null object
Duels Lost                445 non-null object
Aerial Battles Won        445 non-null float64
Aerial Battles Lost       445 non-null float64
Errors Leading To Goal    512 non-null float64
Own Goals                 272 non-null float64
dtypes: float64(30), int64(8), object(17)
memory usage: 269.5+ KB

In [8]:
df["Position"] = df["Position"].fillna("X")

In [9]:
dummies  = pd.get_dummies(df['Position'])

In [11]:
dummies.head()

   Defender  Forward  Goalkeeper  Midfielder  X
0         0        0           0           1  0
1         0        1           0           0  0
2         0        0           0           1  0
3         0        0           1           0  0
4         0        0           0           1  0

In [13]:
dummies.drop(['X'], axis=1, inplace=True)

ValueError: labels ['X'] not contained in axis

In [15]:
data_frame = df
data_frame = data_frame.join(dummies)

In [16]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 59 columns):
Names                     626 non-null object
Club                      626 non-null object
Position                  627 non-null object
Appearances               627 non-null int64
Clean Sheets              272 non-null float64
Goals                     627 non-null int64
Wins                      627 non-null int64
Losses                    627 non-null int64
Saves                     67 non-null float64
Penalties Saved           67 non-null float64
Punches                   67 non-null float64
High Claims               67 non-null float64
Catches                   67 non-null float64
Sweeper Clearances        67 non-null float64
Throw Outs                67 non-null object
Goal Kicks                67 non-null object
Goals Per Match           355 non-null float64
Goals With Header         560 non-null float64
Goals With Right Foot     560 non-null float64
Goals With Left Foot      560 non-null float64
Penalties Scored          355 non-null float64
Goals From Freekick       355 non-null float64
Shots                     355 non-null object
Shots On Target           355 non-null float64
Shooting Accuracy %       355 non-null object
Hit Woodwork              560 non-null float64
Big Chances Missed        355 non-null float64
Assists                   627 non-null int64
Passes                    627 non-null object
Passes Per Match          627 non-null float64
Big Chances Created       560 non-null float64
Crosses                   560 non-null object
Cross Accuracy %          445 non-null object
Through Balls             445 non-null float64
Accurate Long Balls       512 non-null object
Yellow Cards              627 non-null int64
Red Cards                 627 non-null int64
Fouls                     627 non-null int64
Offsides                  560 non-null float64
Goals Conceded            272 non-null float64
Tackles                   560 non-null float64
Tackle Success %          445 non-null object
Last Man Tackles          205 non-null float64
Blocked Shots             560 non-null float64
Interceptions             560 non-null float64
Clearances                560 non-null object
Headed Clearance          560 non-null object
Clearances Off Line       205 non-null float64
Recoveries                445 non-null object
Duels Won                 445 non-null object
Duels Lost                445 non-null object
Aerial Battles Won        445 non-null float64
Aerial Battles Lost       445 non-null float64
Errors Leading To Goal    512 non-null float64
Own Goals                 272 non-null float64
Defender                  627 non-null uint8
Forward                   627 non-null uint8
Goalkeeper                627 non-null uint8
Midfielder                627 non-null uint8
dtypes: float64(30), int64(8), object(17), uint8(4)
memory usage: 271.9+ KB

In [17]:
data_frame.drop(['Position'], axis=1, inplace=True)

In [18]:
data_frame.head()

,Names,Club,Appearances,Clean Sheets,Goals,Wins,Losses,Saves,Penalties Saved,Punches,...,Duels Won,Duels Lost,Aerial Battles Won,Aerial Battles Lost,Errors Leading To Goal,Own Goals,Defender,Forward,Goalkeeper,Midfielder
0,Rolando Aarons,Newcastle United,14,NaN,2,3,9,NaN,NaN,NaN,...,42,53,6.0,9.0,1.0,NaN,0,0,0,1
1,Tammy Abraham,Swansea City,7,NaN,1,1,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
2,Charlie Adam,Stoke City,196,NaN,33,64,78,NaN,NaN,NaN,...,955,"1,012",216.0,148.0,3.0,NaN,0,0,0,1
3,Adrián,West Ham United,106,29.0,0,38,38,367.0,5.0,44.0,...,NaN,NaN,NaN,NaN,7.0,0.0,0,0,1,0
4,Ibrahim Afellay,Stoke City,43,NaN,2,17,16,NaN,NaN,NaN,...,137,134,15.0,20.0,0.0,NaN,0,0,0,1

In [19]:
df["Club"] = df["Club"].fillna("X")

In [20]:
dummies  = pd.get_dummies(df['Club'])
dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 627 entries, 0 to 626
Data columns (total 82 columns):
AFC Bournemouth             627 non-null uint8
Apollon Limassol            627 non-null uint8
Arsenal                     627 non-null uint8
Aston Villa                 627 non-null uint8
Barnsley                    627 non-null uint8
Birmingham City             627 non-null uint8
Blackpool                   627 non-null uint8
Borussia Dortmund           627 non-null uint8
Brighton                    627 non-null uint8
Brighton and Hove Albion    627 non-null uint8
Bristol City                627 non-null uint8
Bristol Rovers              627 non-null uint8
Burnley                     627 non-null uint8
Burton Albion               627 non-null uint8
Bury                        627 non-null uint8
Celtic                      627 non-null uint8
Chelsea                     627 non-null uint8
Chesterfield                627 non-null uint8
Coventry City               627 non-null uint8
Crystal Palace              627 non-null uint8
Derby County                627 non-null uint8
Eastbourne Borough          627 non-null uint8
Everton                     627 non-null uint8
Everton U21                 627 non-null uint8
FC Schalke 04               627 non-null uint8
Feyenoord                   627 non-null uint8
Fleetwood Town              627 non-null uint8
Fulham                      627 non-null uint8
Getafe                      627 non-null uint8
HNK Rijeka                  627 non-null uint8
Huddersfield                627 non-null uint8
Huddersfield Town           627 non-null uint8
Hull City                   627 non-null uint8
Juventus                    627 non-null uint8
Lazio                       627 non-null uint8
Leeds United                627 non-null uint8
Leicester City              627 non-null uint8
Leicester City U21          627 non-null uint8
Liverpool                   627 non-null uint8
Manchester City             627 non-null uint8
Manchester United           627 non-null uint8
Marseille                   627 non-null uint8
Middlesbrough               627 non-null uint8
Newcastle                   627 non-null uint8
Newcastle United            627 non-null uint8
Newport County              627 non-null uint8
Nice                        627 non-null uint8
Northampton Town            627 non-null uint8
Norwich City                627 non-null uint8
Nottingham Forest           627 non-null uint8
Oldham Athletic             627 non-null uint8
Olympiakos                  627 non-null uint8
Oxford United               627 non-null uint8
PSV                         627 non-null uint8
Portsmouth                  627 non-null uint8
Queens Park Rangers         627 non-null uint8
RSC Anderlecht              627 non-null uint8
Reading                     627 non-null uint8
Real Sociedad               627 non-null uint8
Roma                        627 non-null uint8
Sevilla                     627 non-null uint8
Sheff Wed                   627 non-null uint8
Sheffield United            627 non-null uint8
Southampton                 627 non-null uint8
Southend United             627 non-null uint8
Spartak Moscow              627 non-null uint8
Sporting Lisbon             627 non-null uint8
Stoke                       627 non-null uint8
Stoke City                  627 non-null uint8
Sunderland                  627 non-null uint8
Swansea City                627 non-null uint8
Tottenham Hotspur           627 non-null uint8
Vitesse                     627 non-null uint8
Watford                     627 non-null uint8
West Brom                   627 non-null uint8
West Bromwich Albion        627 non-null uint8
West Ham                    627 non-null uint8
West Ham United             627 non-null uint8
Wigan Athletic              627 non-null uint8
X                           627 non-null uint8
Yeovil Town                 627 non-null uint8
York City                   627 non-null uint8
dtypes: uint8(82)
memory usage: 50.3 KB

In [24]:
teams = dummies["Arsenal"]